<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongri.kotlin">
    <!-- 接收系统的开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinTravel">
        <activity android:name=".chapter9.NotificationActivity"></activity>
        <activity android:name=".chapter9.Chapter9Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter8.Chapter8Activity" />
        <activity android:name=".chapter7.Chapter7Activity" />

        <receiver
            android:name=".chapter6.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".chapter6.BroadcastActivity" />
        <activity android:name=".chapter4.recycler.RecyclerViewActivity" />
        <activity android:name=".chapter4.CustomLayoutActivity" />
        <activity android:name=".chapter4.Chapter4Activity" />
        <activity android:name=".chapter3.SecondActivity" />
        <activity android:name=".chapter3.FirstActivity" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>