<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongri.kotlin">
    <!-- 接收系统的开机广播权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Android9.0系统生命前台Service，必须声明该权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinTravel">
        <activity android:name=".interview.InterviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter12.Chapter12Activity"/>
        <activity android:name=".chapter11.Chapter11Activity"/>

        <service
            android:name=".chapter10.MyIntentService"
            android:exported="false" />
        <service
            android:name=".chapter10.MyForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".chapter10.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".chapter10.Chapter10Activity" />
        <activity android:name=".chapter9.NotificationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".chapter9.Chapter9Activity" />
        <activity android:name=".chapter8.Chapter8Activity" />
        <activity android:name=".chapter7.Chapter7Activity" />

        <receiver
            android:name=".chapter6.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".chapter6.BroadcastActivity" />
        <activity android:name=".chapter4.recycler.RecyclerViewActivity" />
        <activity android:name=".chapter4.CustomLayoutActivity" />
        <activity android:name=".chapter4.Chapter4Activity" />
        <activity android:name=".chapter3.SecondActivity" />
        <activity android:name=".chapter3.FirstActivity" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>